.links__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.separator {
  width: 1px;
  height: 10px; 
  background-color: #ccc; 
  margin: 0 10px; 
}